---
layout: default
---
<header
    class="lh-title tc bg-moon-gray white pv6 pv7-ns mv3 mv4-ns ts"{% if page.cover_image and page.cover_image != "" %}
    style="background: center / cover url({{ page.cover_image }});"{% endif %}>
    <h1 class="f2 f1-ns ttc mv0 b">{{ page.title | default: site.title | escape }}</h1>
</header>
<div class="mv4 mv5-ns measure-wide lh-copy center mt4 mt5-ns f4-ns">
    {{ content }}
    <ol class="list pl0 mv4 mv5-ns">
        {% for post in paginator.posts %}
            <li class="mv4 mv5-ns">
                <header class="lh-title">
                    <p class="f6 f5-ns mb0">{{ post.date | date: "%-d %b %Y" }}</p>
                    <h2 class="f4 f3-ns mt0"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
                </header>
                {{ post.content }}
            </li>
        {% endfor %}
    </ol>
</div>
{% if paginator.total_pages > 1 %}
    <div class="lh-solid mt4 mt5-ns">
        {% if paginator.previous_page %}
            <a class="dt center mv2 mv3-ns" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
        {% endif %}
        {% if paginator.next_page %}
            <a class="dt center mv2 mv3-ns" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
        {% endif %}
    </div>
{% endif %}
